@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-primary {
  @apply .no-underline .px-6 .py-4 .leading-none .rounded-full .text-white .bg-primary .font-semibold;
}
.btn-primary:hover {
  @apply .shadow-md;
}
.btn-secondary {
  @apply .no-underline .px-4 .py-2 .leading-none .border .rounded-full .text-white .border-white .border-2 .font-semibold;
}
.btn-secondary:hover {
  @apply .bg-white .text-primary;
}

#home-page .hero {
  @apply h-screen;
  padding-top: 170px;
  background: linear-gradient(
    -18deg,
    #b800c0 15%,
    #7a1b9a 40%,
    #7100c0 70%,
    #4426f7
  );
}

.home-header {
  @apply .absolute;
  top: 0;
}
.header-menu {
  height: 80px;
}
